@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Welcome to our ETicket EShop Application</h1>
    <p>We believe we hold the tickets for the best movies so you should come and check us out!</p>

</div>

